.a14-style {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;

}

.b14-style {
    background-color: green;
    color: white;
    position: fixed;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.c14-style {
    background-color: black;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}

.d14-style {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;

}

.modal-style {
    padding-left: 10px;
    padding-bottom: 20px;
    width: 300px;
    border-radius: 5px;
    background-color: white;

}

.container{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: green;
    justify-content: space-between;
}

.user-profile{

    display: flex;
    align-items: center;

}

.image-section{
    border-radius: 50%;
    width: 70px;
    margin-right: 10px;
}

.add-friend-style{
    padding: 5px 5px 5px 5px;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.message-style{
    padding: 5px 5px 5px 5px;
    color: black;
    background-color: whitesmoke;
    border: none;
    border-radius: 5px;

}